# Dependencies
node_modules/
dist/

# Env
.env
.env.local
.env.*.local

# Uploads
uploads/*
!uploads/.gitkeep

# IDE / OS
.DS_Store
*.log
coverage/
.turbo/

# Prisma
prisma/migrations/**/migration_lock.toml.bak
